<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kidney</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/indexcss.css')}}">
</head>

<body>
    <h2 style="text-align: center;">Have a Kidney Checkup</h2>
    <div class="container">
        <form action="/test" method="POST">
            <div class="section1">
                <div class="inp">
                    <label for="inp1">Age</label>
                    <input type="number" id="inp1" name="age" required value="{{ request.form['age'] }}">
                </div>
                <div class="inp">

                    <label for="inp2">Blood Pressure</label>
                    <input type="number" id="inp2" name="bp" required value="{{ request.form['bp'] }}">
                </div>
                <div class="inp">

                    <label for="inp3">Specific Gravity</label>
                    <input type="number" step="0.01" id="inp3" name="sg" required value="{{ request.form['sg'] }}">
                </div>
                <div class="inp">

                    <label for="inp4">Albumin</label>
                    <input type="number" id="inp4" name="al" required value="{{ request.form['al'] }}">
                </div>
                <div class="inp">

                    <label for="inp5">Sugar</label>
                    <input type="number" id="inp5" name="su" required value="{{ request.form['su'] }}">
                </div>
            </div>
            <hr>
            <div class="section2">
                <div class="opt">
                    <label for="s1">Red blood cells</label>
                    <select name="rbc" id="s1">
                        <option value=1>Normal</option>
                        <option value=0>Abnormal</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s2">Pus Cell</label>
                    <select name="pc" id="s2">
                        <option value=1>Normal</option>
                        <option value=0>Abnormal</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s3">Pus Cell Clumps</label>
                    <select name="pcc" id="s3">
                        <option value=1>Present</option>
                        <option value=0>Absent</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s4">Bacteria</label>
                    <select name="ba" id="s4">
                        <option value=1>Present</option>
                        <option value=0>Absent</option>
                    </select>
                </div>
            </div>

            <hr>
            <div class="section3">
                <div class="inp">

                    <label for="inp6">Blood Glucose Random</label>
                    <input type="number" id="inp6" name="bgr" required value="{{ request.form['bgr'] }}">
                </div>
                <div class="inp">

                    <label for="inp7">Blood Urea</label>
                    <input type="number" id="inp7" name="bu" required value="{{ request.form['bu'] }}">
                </div>
                <div class="inp">

                    <label for="inp8">Serum Creatinine</label>
                    <input type="number" step="0.01" id="inp8" name="sc" required value="{{ request.form['sc'] }}">
                </div>

                <div class="inp">

                    <label for="inp9">Sodium</label>
                    <input type="number" step="0.01" id="inp9" name="sod" required value="{{ request.form['sod'] }}">
                </div>
                <div class="inp">

                    <label for="inp10">Potassium</label>
                    <input type="number" step="0.01" id="inp10" name="pot" required value="{{ request.form['pot'] }}">
                </div>
                <div class="inp">

                    <label for="inp11">Hemoglobin</label>
                    <input type="number" step="0.01" id="inp11" name="hemo" required value="{{ request.form['hemo'] }}">
                </div>
                <div class="inp">

                    <label for="inp12">Packed Cell Volume</label>
                    <input type="number" id="inp12" name="pcv" required value="{{ request.form['pcv'] }}">
                </div>
                <div class="inp">

                    <label for="inp13">white blood cell count</label>
                    <input type="number" id="inp13" name="wc" required value="{{ request.form['wc'] }}">
                </div>
                <div class="inp">

                    <label for="inp14">red blood cell count</label>
                    <input type="number" step="0.01" id="inp14" name="rc" required value="{{ request.form['rc'] }}">
                </div>

            </div>
            <hr>
            <div class="section4">
                <div class="opt">

                    <label for="s5">Hypertension</label>
                    <select name="htn" id="s5">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s6">diabetes mellitus</label>
                    <select name="dm" id="s6">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s7">coronary artery disease</label>
                    <select name="cad" id="s7">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s8">Appetite</label>
                    <select name="appet" id="s8">
                        <option value=0>Good</option>
                        <option value=1>Poor</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s9">Pedal Edema</label>
                    <select name="pe" id="s9">
                        <option value=1>Yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
                <div class="opt">

                    <label for="s10">Anemia</label>
                    <select name="ane" id="s10">
                        <option value=1>yes</option>
                        <option value=0>No</option>
                    </select>
                </div>
            </div>
            <br>
            <button class="btnn" type="submit">Submit</button>
        </form>
    </div>

    {% if out=="ckd" %}
    <div class="Problem">
        
        <h3 style="text-align: center;">You are in denger</h3> 
    <p style="text-align: center;">{{msgg}}</p>
        <div>
            <br>
            <a href="/test"><button class="btnn" type="submit">Ok</button></a>
            <a href="/report"><button class="btnn" type="submit">Report</button></a>
            
        </div>
    </div>
    {% endif %}
    {% if out=="notckd" %}
    <div class="Healthy">
        <h3 style="text-align: center;">You Are Safe</h3> 
        <p style="text-align: center;">{{msgg}}</p>
        <br>
        <div>
            <a href="/test"><button class="btnn" type="submit">Ok</button></a>
            <a href="/report"><button class="btnn" type="submit">Report</button></a>           
        </div>
    </div>

    {% endif %}

</body>

</html>