body{
    background-color: rgba(212, 208, 208, 0.808);
    /* background: url(https://images.pexels.com/photos/552791/pexels-photo-552791.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    /* background: url(https://images.unsplash.com/photo-1568021735466-efd8a4c435af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80); */
    background: url(/static/img/bg1.jpg);
    /* background: url({{ url_for('static',filename='img/bg1.jpg')}}); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.container:hover{
    opacity:0.8;
}
.container {
    background-color: aquamarine;
    opacity: 0.6;
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    border: 2px solid cyan;
    padding: 10px;
    border-radius: 20px;
}

form {
    text-align: center;
}

.section1,
.section2,
.section3,
.section4 {
    padding: 6px;

}

.section1 {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    /* align-items: center; */
    align-items: center;
    border-radius: 20px;
    /* justify-content: space-around; */
    justify-content: space-between
}

.section1 input {
    border-radius: 6px;
    border: 2px solid lightblue;
    margin: 5px auto;
    padding: 6px;
    width: 200px;
    font-size: 15px;

}

.section2 {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    /* align-items: center; */
    align-items: center;
    /* justify-content: space-around; */
    border-radius: 20px;
    /* justify-content: space-evenly; */
    justify-content: space-between
}

.section2 select {
    border-radius: 6px;
    border: 2px solid lightblue;
    margin: 5px auto;
    padding: 6px;
    width: 200px;
    font-size: 15px;

}


.section3 {
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    /* align-items: center; */
    align-items: center;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    border-radius: 20px;
    /* justify-content: space-between */
}

.section3 input {
    border-radius: 6px;
    border: 2px solid lightblue;
    margin: 5px auto;
    padding: 6px;
    width: 200px;
    font-size: 15px;

}

.section4 {
    display: flex;
    margin: auto;
    border-radius: 20px;
    flex-flow: row wrap;
    /* align-items: center; */
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: space-evenly; */
}

.section4 select {
    border-radius: 6px;
    border: 2px solid lightblue;
    margin: 5px auto;
    padding: 6px;
    width: 200px;
    font-size: 15px;
}

.opt {
    margin: auto;
    padding: 6px;

}

.opt:hover {
    margin: auto;
    padding: 6px;
}

select:hover,
input:hover {
    border: 2px solid rgb(101, 175, 171);
}

.inp {
    margin: auto;
}

.section2:hover,
.section1:hover,
.section3:hover,
.section4:hover {
    background-color: lightblue;
}

.btnn {
    padding: 6px;
    border-radius: 20px;
    font-size: larger;
    background-color: lightseagreen;
    padding: 3px 20px;
}

.Problem {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: indianred;
    top: 300px;
    justify-content: space-around;
    position: fixed;
    left: 30%;
    right: 30%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid red;
    width: 30%;


}

.Healthy {
    display: block;
    margin: auto;
    flex-direction: column;
    background-color: lightblue;
    left: 30%;
    right: 30%;
    top: 300px;
    justify-content: space-between;
    position: fixed;
    border-radius: 20px;
    align-items: center;
    border: 2px solid green;
    width: 30%;

}